*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 10vh;
    background-color: #282222;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link{
    margin: 30px;
    color: chartreuse;
    text-decoration: none;
}