*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 10vh;
    background-color: #282222;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.nav-link{
    margin: 30px;
    color: chartreuse;
    text-decoration: none;

}

nav .active{
    color: red;
}

.title{
    padding: 20px 40px;
    font-size: 25px;
    color: red;
}

.body{
    padding: 20px 40px;
    font-size: 20px;
}
.learn-more{
    padding-left: 42px;
}

section{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
}
li{
    list-style-type: none;
}
article{
    background-color: aquamarine;
}
@media screen and (min-width:600px){
    section{
        display: grid;
        grid-template-columns: auto auto ;

    }
}
@media screen and (min-width:992px){
    section{
        display: grid;
        grid-template-columns: auto auto auto ;

    }
}


























































